{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h4>Change Password</h4>

    <form method="POST">
        <div class="mb-3">
            <label>Old Password</label>
            <input type="password" name="old_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>New Password</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Confirm New Password</label>
            <input type="password" name="confirm_password" class="form-control" required>
        </div>

        <button class="btn btn-primary">Update Password</button>
    </form>
</div>

{% endblock %}
